@model Goodstub.Web.Models.LoginModel
@using (Html.BeginForm()) {
    <fieldset>
        <legend>@Labels.Login</legend>
        @{ Html.RenderPartial("Validation"); }
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge" })
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password, new { @class = "input-xlarge" })
        <p>
            <input type="submit" value="@Labels.SignIn" class="btn" />&nbsp;<input type="submit" value="@Labels.CreateAccount" class="btn" />
        </p>
    </fieldset>
}
